* {
    box-sizing: border-box;
}

body {
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.row {
    flex: 1;
}

.header,
.toplogo,
ul {
    display: flex;
}

.header {
    justify-content: space-between;
    margin-left: 2em;
    margin-right: 2em;
}

.toplogo {
    width: 100px;
    height: 50px;
}

a {
    text-decoration: none;
}

ul {
    list-style-type: none;
}

ul a:hover {
    transform: scale(1.1);
}


li {
    color: black;
    padding-left: 2em;
    padding-right: 2em;
}

.about {
    border-left: 1px black solid;
    font-size: 12px;
    margin-top: -.4em;
}

span {
    margin-left: -.4em;
}

.active {
    color: blue;
}

.row1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url("../images/background.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    height: 300px;
    margin: 0;
}

.unitran {
    font-size: 40px;
    font-weight: normal;
    font-family: 'Lucida calligraphy';
    padding-top: 1.5em;
}

.big {
    font-size: 50px;
}

.desc {
    font-size: 1.5625em;
    margin-top: -1em;
}

.row2 {
    display: flex;
    flex-direction: row;
    margin-left: 15em;
    margin-right: 15em;
    justify-content: space-between;
}

.school,
.company {
    height: 150px;
}

.row3 {
    margin-top: 2em;
    margin-left: 8em;
}

h3 {
    color: brown;
}

p {
    font-size: 20px;
}

.row4 {
    margin-top: 4em;
    border-top: 2px black solid;
}

h2 {
    text-decoration: underline;
    text-align: center;
}

.row4 p {
    width: 550px;
}

.about-unitran {
    margin: 0 32%;
}

.brown {
    color: brown;
}

.main-footer {
    background-color: skyblue;
    text-align: center;
    height: 40px;
    padding-top: .5em;
}

@media (max-width: 769px) {

    .header,
    .toplogo,
    ul {
    display: flex;
    flex-direction: column;
    text-align: center;
    }

    .about {
        border-left: none;
        font-size: inherit;
        margin-top: 0;
    }

    li {
        padding-bottom: 2em;
    }

    .desc {
        text-align: center;
    }

    .row2,
    .row3 {
        flex-direction: column;
        text-align: center;
        margin: 0;
    }

    .company {
        margin-top: 2em;
    }

    .row3,
    .row4 {
        text-align: center;
    }

    .button {
        text-align: center;
        margin-right: 6em;
    }

    .about-unitran {
        margin: 0;
    }

    .row4 p {
        width: inherit;
    }

}